

<div class="alert alert-danger" role="alert" >

  <div fxLayout="row" fxLayoutAlign="space-between center" >

    <div>PANEL ADMINISTRATORA portalu rezerwooj.com!</div>

    <button type="button" class="btn btn-outline-primary">
      <a routerLink="/login" routerLinkActive="active">Wyloguj!</a>
    </button>

  </div>
</div>

<div class="container">

<div *ngFor="let room of rooms$ | async">
  <ul class="list-unstyled">
    <li class="media">
      <img src="assets/{{room.imageSmall}}.jpg" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">{{room.head}}</h5>
        {{room.description}}
      </div>
      <button [disabled]="room.isActive" (click)="cancel()" type="button" type="button" class="btn btn-danger" style="margin-right: 2px">odwołaj!</button>
      <button type="button" class="btn btn-success" style="margin-right: 2px">potwierdź</button>
      <button type="button" class="btn btn-primary">kontakt</button>
    </li>

  </ul>
</div>
</div>




