<div class="alert alert-primary" role="alert" fxLayout="row" fxLayoutAlign="space-between center" >
  <div>Witaj użytkowniku admin!</div>
  <div>
    <img src="assets/rez.jpg">
  </div>
  <div>
    <button type="button" class="btn btn-outline-primary">
      <a routerLink="/login" routerLinkActive="active">Wyloguj!</a>
    </button>
  </div>
</div>

<div class="container" style="margin-top: 100px">


<div class="row" >


  <div style="margin-right: 50px" *ngFor="let room of rooms$ | async">
    <div class="card" style="width: 18rem; margin-top: 20px">
      <img src="assets/{{room.image}}.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{room.head}}</h5>
        <p class="card-text">{{room.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">cena za apartament: {{room.price}} PLN</li>
        <li class="list-group-item">Akceptacja zwierząt: {{room.pet}}</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">
          <button [disabled]="!room.isActive" (click)="openModal()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
          Zarezerwuj mnie!
        </button></li>

      </ul>
      <div class="card-body">


      </div>
    </div>
  </div>

</div>

</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Rezerwacja obiektu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz zarezerwować ten obiekt?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button (click)="reserve()" type="button" class="btn btn-primary" data-dismiss="modal" >Rezerwuj</button>
      </div>
    </div>
  </div>
</div>
