<div class="alert alert-primary" role="alert" fxLayout="row" fxLayoutAlign="space-between center" >
  <div>Witaj użytkowniku admin!</div>
  <div>
    <button type="button" class="btn btn-outline-primary">
      <a routerLink="/login" routerLinkActive="active">Wyloguj!</a>
    </button>
  </div>
</div>

<div class="container" style="margin-top: 100px">


<div class="row" >


  <div style="margin-right: 50px">
    <div class="card" style="width: 18rem;">
      <img src="assets/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CYPR Ayia Napa</h5>
        <p class="card-text">Najkorzystniejszą porą na podróżowanie po Ayia Napa w Cypr jest od kwiecień...</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>


  <div style="margin-right: 50px">
    <div class="card" style="width: 18rem;">
      <img src="assets/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">IZRAEL Tel Aviv</h5>
        <p class="card-text">Tel Awiw-Jafa, zwyczajowo nazywane Tel Awiw – drugie pod względem wielkości miasto Izraela.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>


  <div style="margin-right: 50px">
    <div class="card" style="width: 18rem;">
      <img src="assets/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ZEA Dubai</h5>
        <p class="card-text">Dubaj – największe miasto w Zjednoczonych Emiratach Arabskich. Stolica emiratu Dubai.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>



</div>
</div>


